[Desktop Entry]
Type=Application
Name=JPEGView Linux
Comment=Fast, minimal image viewer
Exec=jpegview-linux %F
Icon=jpegview-linux
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/x-tga;image/x-photoshop;image/webp;
